asgiref==3.6.0
Django==4.1.4
django-ckeditor==6.5.1
django-crispy-forms==1.14.0
django-extensions==3.2.3
django-jazzmin==2.6.0
django-js-asset==2.0.0
django-messages==0.6.0
graphviz==0.20.1
gunicorn==20.1.0
Pillow==9.3.0
pygraphviz==1.11
pyparsing==3.1.0
pytz==2022.7
six==1.16.0
sqlparse==0.4.3
