{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block contect %}
<style>
    .form_register {
        border-radius: 28px;
        border:1px solid gray;
    }
    .form_register:hover {
        border: 1px solid #03dac5;
    }
</style>
<br>
<div style="display: flex; justify-content: center;" class="bubble">
    <span style="--i:11;"></span>
    <span style="--i:12;"></span>
    <span style="--i:24;"></span>
    <span style="--i:10;"></span>
    <span style="--i:11;"></span>
    <span style="--i:14;"></span>
    <span style="--i:23;"></span>
    <span style="--i:18;"></span>
    <span style="--i:16;"></span>
    <span style="--i:19;"></span>
    <span style="--i:20;"></span>
    <span style="--i:22;"></span>
    <span style="--i:25;"></span>
    <span style="--i:18;"></span>
    <span style="--i:21;"></span>
    <span style="--i:15;"></span>
    <span style="--i:11;"></span>
    <span style="--i:17;"></span>
    <span style="--i:18;"></span>
    <span style="--i:28;"></span>
    <span style="--i:13;"></span>
    <span style="--i:24;"></span>
    <span style="--i:18;"></span>
    <span style="--i:11;"></span>
    <span style="--i:12;"></span>
    <span style="--i:24;"></span>
    <span style="--i:10;"></span>
    <span style="--i:11;"></span>
    <span style="--i:14;"></span>
    <span style="--i:23;"></span>
    <span style="--i:18;"></span>
    <span style="--i:16;"></span>
    <span style="--i:19;"></span>
    <span style="--i:20;"></span>
    <span style="--i:22;"></span>
    <span style="--i:25;"></span>
    <span style="--i:18;"></span>
    <span style="--i:21;"></span>
    <span style="--i:15;"></span>
    <span style="--i:9;"></span>
    <span style="--i:17;"></span>
    <span style="--i:15;"></span>
    <span style="--i:28;"></span>
    <span style="--i:13;"></span>
    <span style="--i:24;"></span>
    <span style="--i:18;"></span>
    <span style="--i:12;"></span>
    <span style="--i:24;"></span>
    <span style="--i:22;"></span>
    <span style="--i:18;"></span>
    <span style="--i:22;"></span>
    <span style="--i:18;"></span>
  </div>
<section id="hero-animated">
    <br>
    <div class="box-login">
        <div class="form">
            <form method="POST">
                <h1 style="color: #03dac5; padding: 5px;" align="center">Login</h1>
                {% csrf_token %}
                <input type="text" name="username" class="form_register form-control bg-dark text-white" placeholder="Username">
                <br>
                <input type="password" name="password" class="form_register form-control bg-dark text-white" placeholder="password">
                {% if form.errors %}
                    <p>username or password incorect</p>
                {% endif %}
                <br>
                <input class="form-control btn btn-info" type="submit" value="login">
                <br><br>
                <p align="center">dont have a account <a href="{% url 'register' %}">register</a></p>
                <p align="center">did you forget you password <a href="{% url 'password_reset' %}">forgot password?</a></p>
            </form>
        </div>
    </div>
</section>
<br><br><br>
<br><br><br>
<br><br><br>
{% endblock %}