{% extends '../base.html' %}
{% block title %}password reset confirm page{% endblock %}
{% load static %}

{% block contect %}
<section class="vh-100">
    <h1>password reset confirm page</h1>
    <hr>
    <div class="alert alert-primary" role="alert">
        your password reste es successful login with new crudentiols
      </div>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary btn-block" type="submit" value="password reset confirm page">
    </form>
</section>
{% endblock %}