{% extends './base.html' %}
{% load static %}

{% block contect %}
<section id="hero-animated">
    <div style="max-width: 850px;" class="container">
        <img style="width: 100%; height: auto;" src="{% static 'img/uhipocrates.png' %}" alt="" srcset="">
        <br><br>
        <div class="row">
            <div class="col">
                <img style="width: 100%; height: auto;" src="{% static 'img/sebb.jpg' %}" alt="" srcset="">
            </div>
            <div class="col">
                <p>Mi nombre es Sebastian Mauricio Groger Gutierrez, y soy el creador de un sitio de redes sociales que desarrollé como
                    proyecto escolar en la Universidad de Hipócrates. Esta plataforma está diseñada en el estilo de un sistema de tablón de
                    anuncios o foro, donde los usuarios pueden participar en discusiones e intercambiar información sobre una amplia
                    variedad de temas e intereses.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}