{% extends './base.html' %}
{% load static %}

{% block contect %}
<style>
    .card {
        width: 600px;
        margin: auto;
        width: 50%;
    }
    .btn-light {
        border-radius: 25px;
        border: 2px solid green;
    }
</style>

<div style="display: flex; justify-content: center;" class="bubble">
    <span style="--i:11;"></span>
    <span style="--i:12;"></span>
    <span style="--i:24;"></span>
    <span style="--i:10;"></span>
    <span style="--i:11;"></span>
    <span style="--i:14;"></span>
    <span style="--i:23;"></span>
    <span style="--i:18;"></span>
    <span style="--i:16;"></span>
    <span style="--i:19;"></span>
    <span style="--i:20;"></span>
    <span style="--i:22;"></span>
    <span style="--i:25;"></span>
    <span style="--i:18;"></span>
    <span style="--i:21;"></span>
    <span style="--i:15;"></span>
    <span style="--i:11;"></span>
    <span style="--i:17;"></span>
    <span style="--i:18;"></span>
    <span style="--i:28;"></span>
    <span style="--i:13;"></span>
    <span style="--i:24;"></span>
    <span style="--i:18;"></span>
    <span style="--i:11;"></span>
    <span style="--i:12;"></span>
    <span style="--i:24;"></span>
    <span style="--i:10;"></span>
    <span style="--i:11;"></span>
    <span style="--i:14;"></span>
    <span style="--i:23;"></span>
    <span style="--i:18;"></span>
    <span style="--i:16;"></span>
    <span style="--i:19;"></span>
    <span style="--i:20;"></span>
    <span style="--i:22;"></span>
    <span style="--i:25;"></span>
    <span style="--i:18;"></span>
    <span style="--i:21;"></span>
    <span style="--i:15;"></span>
    <span style="--i:9;"></span>
    <span style="--i:17;"></span>
    <span style="--i:15;"></span>
    <span style="--i:28;"></span>
    <span style="--i:13;"></span>
    <span style="--i:24;"></span>
    <span style="--i:18;"></span>
    <span style="--i:12;"></span>
    <span style="--i:24;"></span>
    <span style="--i:22;"></span>
    <span style="--i:18;"></span>
    <span style="--i:22;"></span>
    <span style="--i:18;"></span>
</div>
<section id="hero-animated">
    <div class="container">
        <div style="background-color: #13171f;" class="card">
            <div class="card-body">
                <center>
                    <h3>Get Started</h3>
                    <p>Be a part of a society</p>
                </center>
                <div id="societys" class="row">
                    {% for c in categories %}
                    <div class="col-6">
                        <center><p class="btn btn-light">{{ c.name }}</p></center>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}