.card-list {
    background-color: #13171f;
    border: 1px solid #03baa8;
}

td, th {
    color: white;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 35vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, outo) repeat(5, 100px);

}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);

}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0,0,0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

/* thered card */